html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #eeeeee;
}

p.location {
  font-size: 17px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

/* editing the cards in EventList.js */
.event-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 520px;
}

.option-btn {
  margin-right: 53px;
  margin-bottom: 15px;
  margin-top: 6px;
}

.card-image{
  float: right;
}

.event-checkbox {
  position: absolute;
  top: 10px;
  opacity: 1;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #e53935;
  box-shadow: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
